@import "tailwindcss";


@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-up {
  animation: slideUp 1s ease-in;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-down {
  animation: slideDown 1s ease-in;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}


@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-80%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(80%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.slide-left {
  animation: slideInLeft 1s ease-out;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}


.slide-right {
  animation: slideInRight 1s ease-out;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}


@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}

.scroll {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}

#landing-page {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.whole{
  background: rgb(50,4,15);
  background: linear-gradient(90deg, rgba(50,4,15,1) 0%, rgba(42,21,78,1) 69%);
}

.footer {
  width: 100%;
  height: auto;
  background-color: #000;
  color: #fff;
  padding: 20px;
  position: relative;
}


.spline-background {
  position: fixed;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
}

.spline-background > canvas, 
.spline-background > div {
  width: 100vw;
  height: 100vh;
  object-fit: cover; 
}


html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto; 
  height: 100vh;
}


@media screen and (max-width: 640px) {
  .spline-background > canvas, 
  .spline-background > div {
    width: 100vw;
    height: 100vh;
  }
}

@media screen and (min-width: 641px) and (max-width: 1536px) {
  .spline-background > canvas, 
  .spline-background > div {
    width: 100vw;
    height: 100vh;
  }
}

@media screen and (min-width: 1537px) {
  .spline-background > canvas, 
  .spline-background > div {
    width: 100vw;
    height: 100vh;
  }
}

.spline-background2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Keep Spline below */
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0); 
  z-index: 0;
}
.overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0); 
  z-index: 0;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  /* padding: 100px; */
}
.content2 {
  position: relative;
  z-index: 1;
  color: white;
  pointer-events: auto;
  /* padding: 100px; */
}


